.section-subtitle { /*Подзаголовок секции*/
    text-align: center; /*Выровняли текст по центру*/
    margin: 20px 0 0px 0;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }