.footer__columns {  /*Блок элементов в подвале*/
    display: flex;  /*Сделали флекс-контенером*/
    width: 90%;  /*Ширина блока,в котором размещены колонки - 90% от ширины родительского блока*/
    flex-direction: row;  /*Расположили элементы в строку*/
    justify-content: space-between; /* Равное расстояние между элементами*/
  }