.two-columns { /*Область, в которой расположены колонки*/
    display: flex;  /*Сделали флекс-контенером*/
    width: 80%;  /*Ширина блока,в котором размещены колонки - 80% от ширины родительского блока*/
    flex-direction: row;
    justify-content: space-between;
  }